@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Send Order";
}
@model HalloDoc.Entity.DataModels.OrderDetail
<div class="d-flex justify-content-between align-items-center container pb-1 mt-5">
    <div class="d-flex align-self-center">
    <h3 class="">Send Order</h3>
    </div>
    <a asp-action="Index" asp-controller="Admin" class="btn border border-info shadow-none">
        <strong class="text-info">
            <i class="fa fa-angle-left pe-1 text-info"> </i> Back
        </strong>
    </a>
</div>
<div class="bg-white reqform p-3 container ">   
    <form class="bg-white sbox needs-validation" method="post" novalidate>
        <div class="row">
            <div class="mb-3 col-lg-6 form-floating">
                <select class="form-select" id="Profession" asp-items="@(new SelectList(ViewBag.Professions,"HealthProfessionalId","ProfessionName"))" onchange="AssignVendor()" required>
                    <option selected>Select Profession</option>
                 </select>
                <span class="invalid-feedback">
                    Please choose a Profession.
                </span>
                <label class="fs-6" for="Refill">Profession</label>
               
            </div>
            <div class="mb-3 col-lg-6 form-floating">
                <select asp-for="VendorId" class="form-select" id="provider" placeholder="Please Select" onchange="GetData()" required>
                    <option value="">Please Select</option>
                </select>
                <span class="invalid-feedback">
                    Please choose a provider.
                </span>
                <label class="fs-6" for="Refill">Vendor Name</label>
            </div>
            <div class="mb-3 col-lg-6 form-floating">
                <input asp-for="BusinessContact" type="text" class="form-control" placeholder="BusinessContact" id="BusinessContact">
                <label for="BusinessContact" class="form-label">Business Contact </label>
            </div>
            <div class="mb-3 col-lg-6 form-floating">
                <input asp-for ="Email" type="email" class="form-control" placeholder="abc@email.com" id="Email"
                       aria-describedby="emailHelp" >
                <label for="email" class="form-label">E-mail</label>
                <span class="text-danger"></span>
            </div>
            <div class="mb-3 col-lg-6 form-floating">
                <input asp-for="FaxNumber" type="text" class="form-control" placeholder="Fax Number" id="FaxNo">
                <label class="form-label" for="FaxNo"> Fax Number</label>
            </div>
        </div>
        <div class="form-group mb-3 ">
            <textarea asp-for="Prescription" name="Notes" class="form-control" rows="4" placeholder="Prescription of Order Details" required></textarea>
            @*<label class="fs-6" for="Notes">Prescription of Order Details</label>*@
            <span class="invalid-feedback">
                Please provide Prescription.
            </span>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 form-floating">
                <select asp-for="NoOfRefill" class="form-select" placeholder="Number of Refill">
                    <option value="">Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label class="fs-6" for="Refill">Number of Refill</label>
        </div>
        </div>
        <div class="px-3 d-flex justify-content-end">
            <button class=" btn btn-info text-white rounded p-2 me-2" type="submit"> Submit</button>
            <a class="btn btn-danger text-white rounded p-2 me-2"> Cancel </a>
        </div>         

    </form>
    
</div>
<script type="text/javascript">
    function AssignVendor() {
        var Profession = $("#Profession").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("VendorByProfession", "Admin")?Professionid=' + Profession,
            cache: false,
            success: function (response) {
                console.log(response);
                var select = '<option value="">Please Select</option>';
                for (var i = 0; i < response.length; i++) {
                    select += '<option value="' + response[i].vendorId + '">' + response[i].vendorName + '</option>';
                }
                $("#provider").html(select);
            },
            error: function () {
                alert("Error");
            }
        });
    }
    function GetData() {
        console.log("dsfjbs");
        var selectedValue = $("#provider option:selected").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendOrdersData", "Admin")?selectedValue=' + selectedValue,
            cache: false,
            success: function (response) {
                console.log(response);
                $("#BusinessContact").val(response.businessContact);
                $("#Email").val(response.email);
                $("#FaxNo").val(response.faxNumber);
            },
            error: function () {
                alert("Error");
            }
        });
    }
</script>