<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="~/HellodocMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/patient.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header>
        <div class="position-absolute top-0 end-0 border border-info rounded p-2 m-3 btn btn-sm">
            <i class="fa fa-moon-o fa-2x text-info"></i>
        </div>
        <div class="row mx-6">
            <div class="col-12 text-center">
                <img src="../Images/Fig56._Patient_site_1-removebg-preview.png">
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="child fixed-bottom p-3 foot text-center">
        <span>
            <a href=" " class="text-decoration-none">
                <small class="text-secondary">
                    Terms
                    & conditions
                </small>
            </a> |
            <a href=" " class="text-decoration-none">
                <small class="text-secondary">
                    Privacy
                    policy
                </small>
            </a>
        </span>
    </footer>
    <script>
    function toggle() {
    var x = document.getElementById("floatingPassword");
    if (x.type == "password") {
    x.type = "text";
    document.querySelectorAll(".fa-eye").forEach(i => i.style.display = "none");
    document.querySelectorAll(".fa-eye-slash").forEach(i => i.style.display = "block");
    }
    else {
    x.type = "password";
    document.querySelectorAll(".fa-eye").forEach(i => i.style.display = "block");
    document.querySelectorAll(".fa-eye-slash").forEach(i => i.style.display = "none");
    }
    }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
