<style>
.loader {
    border: 16px solid #f3f3f3; / Light grey /
    border-radius: 50%;
    border-top: 16px solid #3498db; / Blue /
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none; / Initially hidden /
}

 spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
</style>


<div id="loader" class="loader"></div>

<script>
    function showLoader() {
    document.getElementById("loader").style.display = "block";
}

function hideLoader() {
    document.getElementById("loader").style.display = "none";
}
</script>


