@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Create Role";
}
@using HalloDoc.Entity.Models.ViewModel;
@using static HalloDoc.Entity.Models.Constant;
@model CreateRole;

<div class="d-flex justify-content-between align-items-center container pb-1 mt-4">
    <div class="d-flex align-self-center">
        <h3><b>Create Role</b></h3>
    </div>
    <div class=" btn d-flex justify-content-end">
        <a asp-action="AccessAccount" asp-controller="AdminTabs" class="btn border border-info shadow-none">
            <strong class="text-info">
                <i class="fa fa-angle-left pe-1 text-info"> </i> Back
            </strong>
        </a>
    </div>
</div>
<div class="bg-white reqform p-3 container ">
    <form class="bg-white sbox row" id="formsub" method="post" asp-action="SaveCreateRole" asp-controller="AdminTabs">
        <div class="mb-3 col-lg-6 form-floating">
            <input asp-for="Role" type="text" class="form-control" placeholder="Status"  required/>
            <label for="Status" class="form-label">Role Name </label>
        </div>
        <div class="mb-3 col-lg-6 form-floating">
            <select asp-for="AccountType" class="form-select" placeholder="Account" id="AccountType" onchange="rolemenu()">  
                <option> Select Account</option>
                @foreach(var item in Enum.GetNames(typeof(AccountType)))
                {
                    <option value="@item"> @item </option>
                }
            </select>
            <label for="Account" class="form-label">Account Type</label>
        </div>
        <input type="hidden" asp-for="files" id="menus"/>
        <div class="response px-3 mx-3 py-2"></div>
        <div class="d-flex justify-content-end">    
            <buttin type="submit" class="btn btn-info me-2" onclick="saveedit()">Save</buttin>
            <button type="reset" class="btn btn-outline-info">Cancel</button>
        </div>
    </form>
</div>
<script>

        function rolemenu() {
            var region = $("#AccountType").val();
            console.log(region);
            $.ajax({
                type: "POST",
                url: '@Url.Action("RolebyAccountType", "AdminTabs")?Account=' + region,
                cache: false,
                success: function (response) {
                    console.log(response);
                    var select = "";
                    for (var i = 0; i < response.length; i++) {
                        select += '<div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" value="' + response[i].manuId + '"><label class="form-check-label">' + response[i].name + '</label></div>'
                    }
                    $(".response").html(select);
                },
                error: function () {
                    alert("Error");
                }
            });
        }

    function saveedit() {
        var files = [];
        $('input[type="checkbox"]:checked').each(function () {
            files.push(this.value);
        });
        $("#menus").val(files.join(','));
        console.log(files);
       $("#formsub").submit();
     
    }
</script>
 
