img 
{
    height: 25px;
}

/* maindiv */
.mainbody {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* sidebar */
.sidebar {
    width: 13vw;
    display: block;   
}

ul {
    list-style: none;
}
.link{
    text-decoration: none;
    color: black;
}

li {   
    height: 30px;
    width: 140px;   
    text-align: left;
    margin: 20px 5px;
    padding: 5px 5px;
}
.active{
    color: #C8242F;
    background-color: #FFF3F4;   
}

.maindiv {
    width: 100%;
    background-color: #FAFAFA;
}



